/MetodoBiseccion/nbproject/private/
/MetodoBiseccion/build/
/Menu/metodos numericos/build/
/Menu/metodos numericos/nbproject/private/
/MetodoBiseccion/dist/
/Newton/nbproject/private/
/NewtonRaphson/build/
